.locker_group{
	padding:5px;
	background-color: #444464;
	margin: 4px;
	border-radius: 2px;
}

.locker{
	border-radius: 5px;
	background-color: white;
	margin-top: 5px;
	min-height: 100px;
	padding: 3px;
}

.available{
	background-color: #13ef98;
}

.freelocker{
	background-color:#13ef98;
	border-radius: 7px;
	margin-top: 5px;
	min-height: 50px;
	padding: 3px;
}

.usedlocker{
	background-color:#1398ef;
	border-radius: 7px;
	color: #ffffff;
	margin-top: 5px;
	min-height: 50px;
	padding: 3px;
}

#welcome_login{
	color: #ffffff;
	font-size: 50px;
	font-family: 'Broadway';
	text-align: center;
}

#loginform{
	background-color: #8f8f8f;
	border-radius: 10px;
	text-align: left;
	max-width: 400px;
	margin: 0 auto;
	padding: 10px;
}

#loginpage{
	background-color: #4f4f4f;
}

#login{
	color: #ffffff;
	
}
#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

#ref_btn{
	float:right;
}

#footer {
    position: absolute;
    bottom: 0;
	font-size: 12px;
	color: #ffffff;
    width: 644px;
    height: 20px;
    margin: 0 auto;
}

#greetings_main{
	font-family: "Buxton Sketch";
	text-align: left;
	margin-left: 40px;
	
}

#options{
	font-size: 15px;
}

#main_body{
	background: #fafafa;
}

.lock_user{
	font-size: 20px;
	text-align: center;
	font-family: "Buxton Sketch";
	margin-top: 5px;
}

.lock_time{
	text-align: center;
	font-family: "Buxton Sketch";
	color: #9f9fcf;
}

.locker_stats{
	margin-left: 20px;
	font-size: 15px;
	color: #7fbf7f;
	margin-top: 12px;
}

.blankspace{
	padding: 20px;
}