<html ng-app="HARDBMS">
<head>
  <meta charset="utf-8">

  <title>My Parse App</title>
  
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="http://www.amcharts.com/lib/3/amcharts.js"></script>
  <script src="http://www.amcharts.com/lib/3/pie.js"></script>
  <script src="http://www.amcharts.com/lib/3/themes/light.js"></script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
  <script type="text/javascript" src="/js/angular.min.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.14.3.min.js"></script>

		<!-- Bootstrap -->

	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<script src="bootstrap/js/jquery-2.1.4.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="bootstrap/js/jquery-ui.min.js"></script>
	<script src="bootstrap/js/jquery.min.js"></script>
  
  
  <script type="text/javascript" src="/js/init.js"></script>
  <script src="/js/controller.js"></script>

</head>

<body ng-controller="MainCtrl" class = "container" id="main_body">
	<h1 id="greetings_main">Hello, <em>{{user}}</em></h1>
<div id="options">
	What would you like to view:
	<div class="btn-group" ng-init="radioModel='null'">
        <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Stats'" ng-click="makechart()" uncheckable>Statistics/Logs</label>
        <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'Lockers'" uncheckable>Lockers</label>
    </div>
    <button type="button" class="btn btn-default" aria-label="Left Align" ng-href='#here' ng-click='refresh()' id="ref_btn">
	  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
	</button>
 </div>
 <hr/>
 <br/>
 
 
 <div id="choice_lockers" ng-if="radioModel=='Lockers'">
	
	 <uib-tabset justified="true" >
		<uib-tab heading="Lockers" select="setmode(1)">

	   </uib-tab>

		<uib-tab heading="In Use" select="setmode(2)"></uib-tab>
		<uib-tab heading="Empty" select="setmode(3)"></uib-tab>
	  </uib-tabset>
	<br/>
	 <div class="col-md-12" ng-if="mode==1">
			<div ng-repeat="locker_group in lockers" class="locker_group col-md-2">
				<div ng-repeat="locker in locker_group" class="locker" ng-class="isavailable(locker)" ng-click="open(locker)">
					<div  class="lock_num">{{locker.number}}</div>
					<div class="lock_user">{{locker.user}}</div>
					<div class="lock_time" ng-if="locker.time!=''">{{getmin(locker)}}</div>

				</div>
		</div>
		</div>
	<div class="col-md-12" ng-if="mode==2">
		<div ng-repeat="lockerz in used" class="col-md-2" ng-click="open(lockerz)">
				<div class="usedlocker">
					<div>{{lockerz.number}}</div>
					<div  class="lock_user">{{lockerz.user}}</div>
				</div>

	</div>
		</div>
	<div class="col-md-12" ng-if="mode==3">
		<div ng-repeat="lockery in free" class="col-md-2">
					<div class="freelocker">{{lockery.number}}</div>

	</div>
		</div>
	<!--
		<ul>
	  <li ng-repeat="locker in lockers">{{ locker.number }}</li>
	 </ul> 
	-->

 </div>
 
 <div ng-if="radioModel=='Stats'">
 	<uib-tabset justified="true" >
		<uib-tab heading="Statistics" select="setmode2(1)" ng-click="makechart()">

	   </uib-tab>

		<uib-tab heading="Logs" select="setmode2(2)"></uib-tab>
	  </uib-tabset>
	  <br/>
	  <div id='choice_stats' ng-if="mode2==1">
 			<div id="chartdiv"></div>
 			
 			<br/>
 			<div class="locker_stats" ng-repeat="stat in stats">
 				{{stat.msg}}
 			</div>
 			<div class="blankspace"></div>
 			<div id="footer">
			Produced by H.A.R.D.
		</div>
 		</div>
 		<div id='choice_stats' ng-if="mode2==2">
 			<div >
 				<div ng-repeat="log in logs" ng-class="log.type" role="alert">{{log.date}} : {{log.message}}</div>
 			</div>
 		</div>
 		
 </div>
 
 
 	<script type="text/ng-template" id="myModalContent2.html">
        <div class="modal-header">
            <h3 class="modal-title">Locker #{{selected.get("number")}}</h3>
        </div>
        <div class="modal-body">

       		<div>
       			<div >
       			Used By {{selected.user}}
					</br>
      			Reserved at {{selected.time}}
      			<br/>
      			
       			</div>
       			
       			
       		</div>
       		
       		
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()" >OK</button>
        </div>
    </script>
</body>

</html>
